body, h1, h2, h3, h4, h5, h6 {
font-family: "Raleway", Arial, Helvetica, sans-serif;
/* background-color: rgb(195, 212, 212) ; */
margin: auto;
padding: auto;
max-width: 800px;
}

.w3-card-4 {
  background-color: rgb(171, 197, 250);
  height: auto;
}

img {
  cursor: pointer;
  max-width: 110px;
}
